[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-openai = "*"
langgraph = "*"
pydantic = "*"
notion2md = "*"
tweepy = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.0"

[scripts]
start = "python main.py"
